@raa-grau2: rgb(250,250,250);
@raa-grau10: rgb(229,229,229);

.raa-box-info {
    display:block;
    background-color:@raa-grau2;
    border:1px solid @raa-grau10;
    padding:15px;
    margin-bottom:1em;

    > p {
        margin-bottom:0;
    }
}